<html>  
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">    
    </head>
    <body>
        <div class="container">
            <br /><br />
            <h2>Welcome to events appointment system</h2> <br />
            <div class="row">
                <div class="col-md-4">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <p class="card-text">
                                <a href="/users">
                                    Users
                                </a> <br />
                                <small>
                                    <a href="/users">
                                        Add
                                    </a>
                                </small>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <p class="card-text">
                                <a href="/events">
                                    Events
                                </a> <br />
                                <small>
                                    <a href="/events/new">
                                        Add
                                    </a>
                                </small>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <p class="card-text">
                                <a href="/appointments">
                                    Appointments
                                </a> <br />
                                <small>
                                    <a href="#">
                                        Add
                                    </a>
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>